*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    font-family:'Roboto', sans-serif;
}
.container{
    max-width: 1000px;
    background-color: rgb(45, 199, 148);
    margin: 0 auto;
    padding:20px;
}
.pp-image{
    width: 100px;
    height: 120px;
    border:3px solid white;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: rgb(122, 13, 13);
}
.header-contact{
    float: right;
    padding: 30px;

}
.header-contact a{
    text-decoration: none;
    color: rgb(102, 8, 8);
    font-weight: bold;

}
.header-contact a:hover{
    text-decoration: underline;
    color: yellow;
}
.div-clear{
    clear: both;
}
.hr{
    border: solid black 3px;
    margin: 20px auto;
    border-bottom:none ;
    width: 100%;
}
/*-------------------
personal section start
--------------------*/
#personal-section{

}
.content{margin-bottom: 30px;}
.left-div{
    width: 30%;
    float: left;

}
.right-div{
    width: 70%;
    float: right;
}
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}